/*clases de efectos para imagen*/

.brightness {
    filter: brightness(1.25);
}

.blur {
    filter: blur(2px);
}

.saturate {
    filter: saturate(300%);
}

.grayscale {
    filter: grayscale(200%);
}

.contrast {
    filter: contrast(60%);
}


/*fuentes google*/


/*color de fondo*/

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d37ec6, #ffc873, #ff3867);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*card*/

.container {
    height: 600px;
    width: 400px;
    box-shadow: 0px 0px 7px 3px rgba(49, 48, 48, 0.397);
    border-radius: 10px 10px 10px 10px;
}

.container_head {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    position: relative;
    border-bottom: blue 3px solid;
    border-radius: 10px 10px 0px 0px;
}

.container_body {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    z-index: 0;
}

.container_footer {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    position: relative;
    background: white;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*imagn cabecera*/

.img_head {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}

.img_icono {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 585px;
    background: linear-gradient(to bottom, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 41%, rgba(0, 212, 255, 1) 100%);
    z-index: 1;
    box-sizing: content-box;
    border: blue 3px solid;
}


/*h1*/

@font-face {
    font-family: "Poppins";
    src: url(../font/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

h1 {
    text-align: center;
    padding-top: 40px;
    margin: 0px 0px 0px 0px;
    font-family: "Poppins";
}

.container_body_ubicacion p {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-family: "Montserrat";
    color: #964d4d;
}

.container_body_parrafo {
    margin: 25px;
    font-weight: none;
    color: #5b5866;
    font-size: 20px;
}

.container_button {
    text-align: center;
}

.container_button_1 {
    border-radius: 40px;
    width: 100px;
    height: 35px;
    text-align: center;
    color: #4b8fc8;
    border: 1px solid #4b8fc8;
}


/*footer*/

.container_footer_head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    margin: 0px;
}

.container_footer_head div {
    width: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

div span {
    color: #bababa;
}

.container_footer_head svg {
    color: #bababa;
}